<h1>Profiles#edit</h1>
<%= simple_form_for @profile do |f|%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :birthday,
                required: true,
                as: :date,
                start_year: 1905,
                end_year: Date.today.year,
                input_html: { autocomplete: "birthday"} %>
    <%= f.input :gender, as: :radio_buttons, collection: [['0', 'female'], ['1', 'male']], label_method: :second, value_method: :first %>
    <%= f.input :bio %>
  <%= f.button :submit, "Update Profile"%>
<%end%>