<% if comment != @comment %>
  <li class="list-group-item my-1">
    <div class="rounded-pill comment-bg my-1 py-2 px-3">
      <a href="<%= user_path(comment.author)%>">
        <%= image_tag( image_url(comment.author), class:"img-fluid comment-pro-pic")%>
      </a>
      <%= link_to comment.author.profile.full_name, user_path(comment.author)%>
      <%= comment.body %>
      <%= link_to "Like", "#", class:"like-reply-btn ml-1"%>
      <button class="btn-link btn-sm btn like-reply-btn" id="reply-<%=comment.id%>">Reply</button>
      <% unless params[:action] == "edit" %>
        <%= render "shared/actions", actionable: comment, post: comment.commentable, owner: comment.commentable.author,
        edit_path: edit_post_comment_path(comment.commentable,comment),
        delete_path: post_comment_path(comment.commentable,comment)
        %>
      <% end %>
    </div>
    <% if comment.commentable.class == Post %>
      <div id="reply-box-<%=comment.id%>" class="card border-0">
        <%= render  "comments/comment_form", {commentable: comment, comment: Comment.new} %>
      </div>
    <% end %>
     <% if comment.comments.any? && params[:controller] != "comments/comments" %>
        <section class="mt-2 p-2 border replies-section">
          <%= render comment.comments %>
      </section>
    <% end %>
  </li>
<% else %>
  <%= render  "comments/comment_form", {commentable: comment.commentable, comment: comment} %>
<% end %>
