<% if comment != @comment %>
  <li class="list-group-item">
  <% commenter_image_url = comment.commenter.profile.profile_picture? ? comment.commenter.profile_picture.url : "https://www.lewesac.co.uk/wp-content/uploads/2017/12/default-avatar.jpg" %>
    <a href="<%= user_path(comment.commenter)%>">
      <%= image_tag( commenter_image_url, class:"img-fluid post-user-profile-pic")%>
    </a>
    <%= link_to comment.commenter.profile.full_name, user_path(comment.commenter)%>
    <%= comment == @comment %>
    <%= comment.body %>
  </li>
<% else %>
  <%= render  "comments/comment_form", {commentable: @comment, comment: Comment.new} %>
<% end %>
