<% if comment != @comment %>
  <li class="list-group-item my-1">
    <div class="rounded-pill comment-bg my-1 py-2 px-3">
      <a href="<%= user_path(comment.author)%>">
        <%= image_tag( image_url(comment.author.profile), class:"img-fluid comment-pro-pic")%>
      </a>
      <%= link_to comment.author.profile.full_name, user_path(comment.author)%>
      <%= comment.body %>
      <div class="d-inline">
        <!-- Comment like/unlike action-->
        <% if !current_user.liked_comment.include? comment %>
            <%= link_to "Like", comment_likes_path(comment), method: :post , class:"like-reply-btn ml-1"%>
          <% else%>
            <% like = Like.where("liker_id=? AND likeable_id=?", current_user.id, comment.id)[0]%>
            <%=link_to "UNLIKE", comment_like_path(comment,like), method: :delete %>
        <% end %>
        <!-- Comment likes views-->
        <% if comment.likes.any? %>
          <a href="#" data-toggle="modal" data-target="#likesModal" class="ml-1"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <%= comment.likes.count %></a>
          <%= render  "likes/like", likes: comment.likes %>
        <% end %>
      </div>

      <% unless params[:action] == "edit" %>
        <%= render "shared/actions", actionable: comment, post: comment.commentable, owner: comment.commentable.author,
        edit_path: edit_post_comment_path(comment.commentable,comment),
        delete_path: post_comment_path(comment.commentable,comment)
        %>
      <% end %>
    </div>
    <% if comment.commentable.class == Post %>
      <div id="reply-box-<%=comment.id%>" class="card border-0">
        <%= render  "comments/comment_form", {commentable: comment, comment: Comment.new} %>
      </div>
    <% end %>
     <% if comment.comments.any? && params[:controller] != "comments/comments" %>
        <section class="mt-2 p-2 border replies-section">
          <%= render comment.comments %>
      </section>
    <% end %>
  </li>
<% else %>
  <%= render  "comments/comment_form", {commentable: comment.commentable, comment: comment} %>
<% end %>
