<% if user.passive_requests.any? %>
  <ul class="list-group">
    <% user.passive_requests.each do |request| %>
      <li class="dropdown-item">
        <a href="<%= user_path(request.requester)%>">
          <%= image_tag image_url(request.requester.profile), class:"img-fluid profile-picture"%>
        </a>
        <%= link_to request.requester.profile.full_name , request.requester %>
        <%= link_to 'Confirm' , friendships_path(friendship: {
          user_id: request.requester.id,
          friend_id: current_user.id
        }),method: :post, class: "btn btn-sm btn-primary" %>
        <%= link_to 'Delete' , friend_request_path(request), method: :delete, class: "btn btn-sm btn-default" %>
      </li>
      <li class="dropdown-divider"></li>
    <% end %>
  </ul>

<% else %>
  No pending request
<% end %>