<h1>User's info</h1>
<hr>
<p>Email : <%= @user.email %></p>
<%= link_to  "Update", edit_user_registration_path %>
<% if @user != current_user %>
  <% if !current_user.requestees.include?(@user) && !current_user.friends.include?(@user)%>
  <%= link_to  "Add Friend", friend_requests_path(friend_request: {requestee_id: @user.id, requester_id: current_user.id}), method: :post %>
  <%elsif current_user.requestees.include?(@user) && current_user.pending_request?(@user) %>
    <%= link_to "Request Sent", "#"%>
  <% end %>
<% end %>
<% if @user.friends.any? %>
  <p>Friends <span id="friends_count"><%=@user.friends.count%></span> <span id="mutual_friends_count">Mutual Friends <%= current_user.mutual_friends(@user).count%></span></p>
  <ul id="partial-friends-list">
    <% @user.friends.each do |friend| %>
      <li><%= link_to  friend.email, friend %></li>
    <% end %>
  </ul>
<% end %>
