<h1><%=@profile.full_name %></h1>
<hr>
<section class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <% image_url = @profile.profile_picture? ? @profile.profile_picture.url : "https://www.lewesac.co.uk/wp-content/uploads/2017/12/default-avatar.jpg" %>
        <%= image_tag image_url, class:"img-fluid"%>
        <p class="card-text">
          <p><%= @profile.bio %>
        </p>
        <% if @user != current_user %>
          <% if !current_user.requestees.include?(@user) && !current_user.friends.include?(@user)%>
          <%= link_to  "Add Friend", friend_requests_path(friend_request: {requestee_id: @user.id, requester_id: current_user.id}), method: :post, class: "btn btn-primary btn-block" %>
          <%elsif current_user.requestees.include?(@user) && current_user.pending_request?(@user) %>
            <%= link_to "Request Sent", "#"%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body p-0">
        <% if @user.friends.any? %>
          <p>Friends <span id="friends_count"><%=@user.friends.count%></span> 
            <% if current_user != @user && current_user.mutual_friends(@user).any?%>
              <span id="mutual_friends_count">Mutual Friends <%= current_user.mutual_friends(@user).count%></span>
            <% end %>
          </p>
          <ul id="partial-friends-list">
            <% @user.friends.each do |friend| %>
              <li>
                <% image = friend.profile.profile_picture? ? friend.profile.profile_picture.url : "https://www.lewesac.co.uk/wp-content/uploads/2017/12/default-avatar.jpg" %>
                <a href="<%=user_path(friend)%>">
                  <div class="card" style="width: 5rem;">
                    <%=image_tag image, class:"card-img-top img-fluid"%>
                    <div class="card-body">
                      <p class="card-text"><%= friend.profile.full_name %></p>
                    </div>
                  </div>
                </a>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="card-text">No friends yet</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9"></div>
</section>



