<ul class="row mx-auto" id="friends_list">
  <% friend_resource.each do |friend|%>
    <li class="col-6 list-group-item mx-2 mb-2">
    <div class="row">
      <div class="col-6">
        <% image_url = friend.profile.profile_picture? ? friend.profile.profile_picture.url : "https://www.lewesac.co.uk/wp-content/uploads/2017/12/default-avatar.jpg" %>
        <a href="<%=user_path(friend)%>"><%= image_tag image_url, class:"img-fluid profile-picture"%></a>
        <%= link_to friend.profile.full_name, friend %>
      </div>
      <div class="col-6">
        <% if current_user != friend %>
          <% if !current_user.friends.include?(friend) %>
          <!--Add Friend Btn-->
            <div id="friend-request-btn-user-<%=friend.id%>">
              <% if !current_user.pending_request?(friend) && !friend.pending_request?(current_user) %>
                <%= render "users/shows/send_friend_request_form", user: friend, origin: nil%>
            </div>
            <% elsif current_user.pending_request?(friend) %>
              <% request = FriendRequest.where("requester_id=? AND requestee_id=?",current_user.id, friend.id)[0]%>
              <%= render  "users/shows/request_sent_btn", request: request %>
            <% elsif friend.pending_request?(current_user) %>
              <%= render  "users/shows/respond_to_friend_request", user: friend %>
            <% end %>
          <% else %>
            <%= render  "users/shows/already_friends_btn", user: friend %>
          <% end %>
        <% end %>
      </div>
    </div>
    </li>
  <%end%>
</ul>