<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-row pt-4">
    <div class="col-md-5">
      <%= f.input :email,
                  required: false,
                  label: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: "Email", class: "form-control-sm" } %>
    </div>
    <div class="col-md-5">
      <%= f.input :password,
                  required: false,
                  label: false,
                  input_html: { autocomplete: "current-password", placeholder: "Password", class: "form-control-sm" } %>
    </div>
    <div class="col-md-2">
      <%= f.button :submit, "Log in", class: 'btn-sm btn-primary'%>
    </div>
  </div>
  <div class="nav-remember_me">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
<% end %>