<div class="card my-5 text-center">
  <h4 class="display-4  py-3">Log in</h4>
  <div class="card-body main-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
                  required: false,
                  label: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: "Email", class: "main-form-control" } %>
      <%= f.input :password,
                  required: false,
                  label: false,
                  input_html: { autocomplete: "current-password", placeholder: "Password", class: "main-form-control" } %>
      <%= f.button :submit, "Log in", class: 'btn-primary btn-block log-in-btn'%>

      <div class="mt-3">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
