<div class="card my-3">
  <div class="card-body">
  <% unless params[:action] == "edit" %>
    <%= render  "shared/actions", actionable: post, owner: post.postable,
    edit_path: edit_user_post_path(current_user,post),
    delete_path: post_path(post)
    %>
  <% end %>
    <a href="<%= user_path(post.author)%>">
      <%= image_tag image_url(post.author.profile), class:"img-fluid post-user-profile-pic"%>
      <h6 class="d-inline"><%= post.author.profile.full_name %></h6>
    </a>
    <% if post.postable != post.author%>
      <span class="arrow">></span> 
      <%= link_to post.postable.profile.full_name, user_path(post.postable)%>
      <% else %>
      shared
    <% end%>
    <!--This is to show a specific post if that post is not the one for edit (for editing)-->
    <% if post != @post %>
      <p><%= time_ago_in_words(post.created_at)%> ago</p>
      <p class="card-text mb-0"><%= post.body %></p>
      <div id="post-interaction-btns-<%=post.id%>">
        <!-- Post like/unlike actions-->
        <%= image_tag post.post_pic.url, class: "img-fluid"  if post.post_pic?%>
        <% if params[:controller] != "posts/comments"%>
          <% if !current_user.liked_post.include? post %>
              <%= render "posts/like_form", post: post%>
          <% else%>
            <% like = Like.where("liker_id=? AND likeable_id=?", current_user.id, post.id)[0]%>
            <%= render "posts/unlike_form", post: post, like: like%>
          <% end %>
        </div>
        <section class="card border-0">
          <%= render "comments/comment_form", {comment: Comment.new, commentable: post} %>
        </section>
      <% end %>
      <section class="mt-2">
        <% if post.comments.any? && params[:controller] != "posts/comments" %>
          <%= render post.comments %>
        <% end %>
      </section>
    <% else%>
      <%= render partial:"post_form", locals:{postable: post.postable, post: @post, author: post.author}%>
    <%end%>
  </div>
</div>