<section class="card">
  <div class="card-body">
    <%= simple_form_for([postable, post]) do |f| %>
      <%=f.input :body, label: "Create post" %>
      <%=f.input :author_id, as: :hidden, input_html:{value: author.id} %>
      <%=f.input :postable_id, as: :hidden, input_html:{value: postable.id} %>
      <%= f.button :submit, "Share", class:"btn-sm btn-primary float-right"%>
    <% end %>
    <% if params[:action] == "edit" %>
      <div class="float-right mr-2" id="delete-cancel">
        <a href="<%= session[:return_to]%>">Cancel</a>
        <%= link_to  "Delete",
         post_path(post),
         method: :delete,
         class: "ml-2" %>
      </div>
    <% end %>
  </div>

</section>
