<section>
  <% posts = params[:controller] == "users" ? Post.timeline_posts(viewer) : Post.user_newsfeed_posts(viewer)%>
  <% if posts.any?%>
      <% posts.each do |post| %>
        <div class="card my-3">
          <div class="card-body">
          <%= render  "posts/post_actions", post: post unless params[:action] == "edit"%>
          <% image_url = viewer.profile.profile_picture? ? viewer.profile_picture.url : "https://www.lewesac.co.uk/wp-content/uploads/2017/12/default-avatar.jpg" %>
            <a href="<%= user_path(post.author)%>">
              <%= image_tag image_url, class:"img-fluid post-user-profile-pic"%>
              <h6 class="d-inline"><%= post.author.profile.full_name %></h6>
            </a>
            <% if post.postable != post.author%>
              <i class="fa fa-arrow-right" aria-hidden="true"></i> 
              <%= link_to post.postable.profile.full_name, user_path(post.postable)%>
              <% else %>
              shared
            <% end%>
            <% if post != @post %>
              <p><%= time_ago_in_words(post.created_at)%> ago</p>
              <p class="card-text"><%= post.body %></p>
            <% else%>
              <%= render partial:"post_form", locals:{postable: post.postable, post: @post, author: post.author}%>
            <%end%>
          </div>
        </div>
      <% end %>
  <% end %>
</section>